.container{
    width: 100%;
}
.box{
    width: 50%;
    background-color: blue;
    height: 25em;
    
}
.item{
    background-color: yellow;
    width: 25%;
    height: 10em;
    margin: 5em;
   
    
}
.box{
    border: 0.1em solid black;
}

.item:hover{
    transform: rotate(120deg);
    
}

.thing{
    width:25% ;
    height: 5em;
    background-color: green;
    display: inline-block;
    margin: 2em;
    


}

.thing:hover{
    transform:rotateZ(-150deg);
}